body {
    margin: 0;
    color: #112d4e;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #f9f7f7;
}

h1 {
    margin-top: 50px auto 0 auto;
    font-size: 4rem;
    font-family: 'Sacramento', cursive;
    color: #112d4e;
    line-height: 0.5;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #112d4e;
    font-weight: normal;
    line-height: 2;
    padding: 10px 0 10px;
    
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:  #112d4e;
    padding: 20px 0 20px;
}

p{
    line-height: 2;
}

a{ 
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #112D4E;
}

hr{
    border: dotted #dbe2ef 6px;
    border-bottom:none;
    width: 5%;
    margin:100px auto;
}

.top-container {
    background-color: #dbe2ef;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.top-container h2{
    width: 80%;
    margin:auto;
    
}

.middle-container {
    margin: 100px auto;
    width: 80%;
    background-color: #f9f7f7;
}

.profile h2 {
    font-weight: bolder;
    font-size: 2rem;
}

.profile{
    text-align: center;
    color: #112d4e;
}


.profile-pic {
    width: 20%;
    padding-bottom: 10px;
}


.logo{
    width: 20%;
    float: left;
    margin-right: 2%;
    
}

.achieve{
    font-weight: bolder;
    
}

.task-list{
    line-height: 2.25;
    text-indent: 10px;    
}

.exp-text{
    width: 80%;
    margin: 0px auto 30px 25%;
    text-align: left;
}

.comp-exp{
    padding-top: 100px;
}


.takeaways-row{
    width: 75%;
    margin: 20px auto 20px auto;
    font-size: 1rem;
    padding-bottom: 30px;
}

.bottom-container{
    background-color: #3f72af;
    padding: 10px 0 30px;
    color: #EAF6F6;
    width: 100%;
    
}

.contact-message{
    font-family: 'Montserrat', sans-serif;
    color: #EAF6F6;

}

.footer-link{
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.copyright {
    font-size: 0.75rem;
    margin-bottom: 0px;
}

.experience h2{
    font-weight: bolder;
    font-size: 2rem;
}

.emphasize{
    font-weight: 900;
}

.header-link{
    color: #3F72AF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;

}

.contact-head{
    background-color: #dbe2ef;
    position: relative;
    padding-top: 30px;
    text-align: right;
}

.comp-name{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bold;
}