body {
    margin: 0;
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 0.5;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
    padding: 10px 0 10px;
    
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    padding: 20px 0 20px;
}

p{
    line-height: 2;
}

a{ 
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #11999E;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom:none;
    width: 5%;
    margin:100px auto;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.top-container h2{
    width: 80%;
    margin:auto;
}

.middle-container {
    margin: 100px auto;
    width: 80%;
     
}

.personal{
    font-style: italic;
}

.rocket {
    position: absolute;
    left: 200px;
    top: 80px;
    width: 10%;
}

.uni-building{
    width: 85%;
    margin-top: 30px;
    margin-bottom: 0px;
}

.profile-pic {
    width: 20%;
    padding-bottom: 10px;
}


.learning-row {
    width: 75%;
    margin: 20px auto 20px auto;
    padding-bottom: 30px;
    font-size: 1rem;
}

.soft-skill{
    width: 25%;

}

.hard-skill{
    width: 25%;
}

.knowledge{
    width: 25%;
}

.product{
    width: 25%;
    padding-bottom: 10px;
}

.identity {
    width: 25%;
    padding-bottom: 10px;
    padding-top: 30px;
}

.takeaways-row{
    width: 75%;
    margin: 20px auto 20px auto;
    font-size: 1rem;
    padding-bottom: 30px;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 10px 0 30px;
    color: #EAF6F6;
}

.contact-message{
    font-family: 'Montserrat', sans-serif;
    color: #EAF6F6;

}
.footer-link{
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.personal{
    color: #66BFBF;
}


.product-text{
    width: 80%;
    margin: auto;
}

.quote-text{
    margin: auto;
    font-style: italic;
}

.copyright {
    font-size: 0.75rem;
    margin-bottom: 0px;
}